@charset "UTF-8";
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../src/screen.sass */
body {
  padding-top: 65px;
  background: url(../images/bkg.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

/* line 15, ../src/screen.sass */
#darkening {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: url(../images/darkening.png) repeat-x;
  z-index: -1;
}

/* line 36, ../src/screen.sass */
.screen-reader-text {
  position: absolute;
  left: -9000px;
}

/* line 45, ../src/screen.sass */
.constrained {
  width: 860px;
  margin: 0px auto;
}

/* line 53, ../src/screen.sass */
#access {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: url(../images/menu_bkg.png);
  z-index: 100;
}
/* line 62, ../src/screen.sass */
#access ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  width: 860px;
  margin: 0px auto;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#access ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#access ul.menu li:first-child, #access ul.menu li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#access ul.menu li:last-child, #access ul.menu li.last {
  padding-right: 0;
}
/* line 68, ../src/screen.sass */
#access ul.menu li {
  padding: 0;
  margin-right: 2px;
}
/* line 71, ../src/screen.sass */
#access ul.menu li.menu-item-right {
  float: right;
}
/* line 74, ../src/screen.sass */
#access ul.menu a {
  display: inline-block;
  color: #f0f0f0;
  text-shadow: black 0 1px 1px;
  padding: 13px 12px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  height: 14px;
}
/* line 84, ../src/screen.sass */
#access ul.menu > li:hover {
  background: url(../images/menu_alt.png) 0 0;
}
/* line 88, ../src/screen.sass */
#access ul.menu > li.current-menu-item, #access ul.menu > li.current-menu-item:hover, #access ul.menu > li.current-menu-parent, #access ul.menu > li.current-menu-parent:hover {
  background: url(../images/menu_alt.png) 0 -40px;
}
/* line 91, ../src/screen.sass */
#access ul.sub-menu {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 101;
  background: #303030;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px 0;
}
/* line 99, ../src/screen.sass */
#access ul.sub-menu li {
  margin-right: 0;
  display: block;
  float: none;
}
/* line 103, ../src/screen.sass */
#access ul.sub-menu li:hover {
  background: #373737;
}
/* line 105, ../src/screen.sass */
#access ul.sub-menu li a {
  width: 180px;
}
/* line 110, ../src/screen.sass */
#access li.current-menu-item ul.sub-menu, #access li.current-menu-parent ul.sub-menu {
  background: #3c3c3c;
}
/* line 112, ../src/screen.sass */
#access li.current-menu-item ul.sub-menu li:hover, #access li.current-menu-parent ul.sub-menu li:hover {
  background: #444444;
}
/* line 117, ../src/screen.sass */
#access li:hover ul.sub-menu {
  display: block;
}

/* line 121, ../src/screen.sass */
#footer {
  color: #999999;
  font-size: 14px;
  line-height: 18px;
  padding: 30px 0 5px;
  margin-top: 40px;
  background: #333333 url(../images/footer_bkg.png) repeat-x;
  text-shadow: #111111 0 1px 1px;
}
/* line 130, ../src/screen.sass */
#footer .widget-container {
  margin-top: 32px;
}
/* line 132, ../src/screen.sass */
#footer .widget-container.widget_nav_menu, #footer .widget-container.widget_random_image {
  margin-top: 0;
}
/* line 135, ../src/screen.sass */
#footer h3 {
  color: #999999;
  font-weight: bold;
  font-size: 12px;
}
/* line 139, ../src/screen.sass */
#footer ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul.menu li:first-child, #footer ul.menu li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul.menu li:last-child, #footer ul.menu li.last {
  padding-right: 0;
}
/* line 141, ../src/screen.sass */
#footer ul.menu li {
  padding-right: 8px;
}
/* line 143, ../src/screen.sass */
#footer ul.menu a {
  text-decoration: none;
  color: #6c7c7c;
}
/* line 146, ../src/screen.sass */
#footer ul.menu a:hover {
  text-decoration: underline;
}
/* line 148, ../src/screen.sass */
#footer ul.menu ul.sub-menu {
  display: none;
}
/* line 151, ../src/screen.sass */
#footer span.attr {
  display: block;
  text-align: right;
  font-style: italic;
}
/* line 156, ../src/screen.sass */
#footer li.widget_random_image {
  float: right;
  width: 250px;
  margin-left: 50px;
}
/* line 160, ../src/screen.sass */
#footer li.widget_random_image h3 {
  display: none;
}
/* line 162, ../src/screen.sass */
#footer li.widget_random_image img {
  display: block;
  width: 260px;
  border: 0;
  height: 170px;
  padding-bottom: 44px;
  background: url(../images/photo_shadow.png) no-repeat bottom center;
}
/* line 170, ../src/screen.sass */
#footer div.iconlinks {
  float: right;
}
/* line 172, ../src/screen.sass */
#footer div.iconlinks a {
  display: inline-block;
  margin-left: 16px;
  height: 32px;
  width: 32px;
  text-indent: -10000px;
  overflow: hidden;
}
/* line 179, ../src/screen.sass */
#footer div.iconlinks a.facebook {
  background: url(../images/facebook.png) no-repeat center center;
}
/* line 181, ../src/screen.sass */
#footer div.iconlinks a.rss {
  background: url(../images/rss.png) no-repeat center center;
}
/* line 184, ../src/screen.sass */
#footer div.copyright {
  color: #777777;
  font-size: 11px;
  line-height: 18px;
}
/* line 188, ../src/screen.sass */
#footer div.copyright a {
  color: #6c7c7c;
  text-decoration: none;
}
/* line 191, ../src/screen.sass */
#footer div.copyright a:hover {
  text-decoration: underline;
}

/* line 195, ../src/screen.sass */
body.home #footer li.widget_random_image {
  float: left;
  margin-right: 40px;
  margin-left: 0;
}
/* line 199, ../src/screen.sass */
body.home #footer li.widget_random_image img {
  width: 260px;
}

/* line 207, ../src/screen.sass */
#content {
  width: 570px;
  padding: 20px;
  background: #ebebeb;
  color: #333333;
  text-shadow: white 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 1px 5px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 1px 5px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.18) 1px 5px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.18) 1px 5px 10px 0;
  font-size: 14px;
  line-height: 20px;
  float: left;
}
/* line 218, ../src/screen.sass */
#content h1 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  padding: 10px 0 12px 30px;
  width: 570px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  position: relative;
  left: -30px;
  background-color: #007072;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #007072), color-stop(100%, #006466));
  background-image: -moz-linear-gradient(top, #007072 0%, #006466 100%);
  background-image: linear-gradient(top, #007072 0%, #006466 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 0;
  text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
  margin-bottom: 10px;
}
/* line 232, ../src/screen.sass */
#content h1:before {
  content: url(../images/banner_fold.png);
  position: absolute;
  bottom: -10px;
  left: 0;
}
/* line 238, ../src/screen.sass */
#content p {
  margin-bottom: 16px;
}
/* line 241, ../src/screen.sass */
#content ul, #content ol {
  margin-bottom: 16px;
  margin-left: 25px;
}
/* line 245, ../src/screen.sass */
#content ul {
  list-style-type: square;
}
/* line 247, ../src/screen.sass */
#content ol {
  list-style-type: decimal;
}
/* line 250, ../src/screen.sass */
#content b, #content strong {
  font-weight: bolder;
}
/* line 253, ../src/screen.sass */
#content i, #content em {
  font-style: italic;
}
/* line 256, ../src/screen.sass */
#content a {
  color: #607f80;
}
/* line 258, ../src/screen.sass */
#content a:hover {
  color: #3f5454;
}
/* line 261, ../src/screen.sass */
#content div[id^=attachment] {
  margin: 16px auto;
  padding: 10px 5px;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px 0;
  border: 1px solid #eeeeee;
}
/* line 268, ../src/screen.sass */
#content div[id^=attachment] a img {
  margin: 0px auto;
  display: block;
}
/* line 271, ../src/screen.sass */
#content div[id^=attachment] p.wp-caption-text {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin: 5px 0 0;
}

/* line 277, ../src/screen.sass */
#primary.widget-area {
  float: left;
  width: 210px;
  margin-left: 40px;
  padding-top: 140px;
  background: url(../images/logo_sidebar.png) no-repeat top center;
}

/* line 291, ../src/screen.sass */
body.single #content div.date {
  color: #777777;
  font-size: 12px;
}
/* line 295, ../src/screen.sass */
body.single #content div.meta {
  clear: both;
  margin: 14px 0 0;
  color: #666666;
}
/* line 299, ../src/screen.sass */
body.single #content div.meta b {
  font-weight: normal;
  color: #333333;
}
/* line 302, ../src/screen.sass */
body.single #content div.meta a {
  color: #607f80;
  text-decoration: none;
}
/* line 305, ../src/screen.sass */
body.single #content div.meta a:hover {
  color: #245859;
}

/* line 308, ../src/screen.sass */
div.navigation {
  margin: 14px 0 0;
  font-size: 12px;
  color: #666666;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
}
/* line 315, ../src/screen.sass */
div.navigation .nav-previous {
  float: left;
  width: 49%;
}
/* line 318, ../src/screen.sass */
div.navigation .nav-next {
  float: right;
  width: 49%;
  text-align: right;
}
/* line 322, ../src/screen.sass */
div.navigation a {
  color: #666666;
  text-decoration: none;
}
/* line 325, ../src/screen.sass */
div.navigation a:hover {
  color: #333333;
}

/* line 334, ../src/screen.sass */
body.home {
  padding-top: 0;
}
/* line 337, ../src/screen.sass */
body.home #content {
  margin-top: 25px;
  width: 560px;
}
/* line 340, ../src/screen.sass */
body.home #content h1 {
  width: 560px;
}

/* line 343, ../src/screen.sass */
#welcome {
  height: 436px;
  padding-top: 65px;
  background: url(../images/home_bkg.png) repeat-x bottom center;
}
/* line 348, ../src/screen.sass */
#welcome div.text {
  padding-left: 300px;
  height: 180px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  background: url(../images/logo_home.png) no-repeat top left;
}
/* line 356, ../src/screen.sass */
#welcome h2 {
  display: none;
}
/* line 359, ../src/screen.sass */
#welcome blockquote {
  position: relative;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}
/* line 364, ../src/screen.sass */
#welcome blockquote p {
  font-size: 20px;
  line-height: 24px;
  margin: 0 18px 10px 20px;
  text-align: right;
  font-style: italic;
  text-shadow: #1d2e2e 0 1px 1px;
}
/* line 371, ../src/screen.sass */
#welcome blockquote p:first-child {
  text-align: left;
  margin-bottom: 0;
}
/* line 374, ../src/screen.sass */
#welcome blockquote:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  left: 0;
  top: -3px;
  position: absolute;
  content: "\201C";
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
/* line 382, ../src/screen.sass */
#welcome blockquote:after {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  content: "\201D";
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
/* line 392, ../src/screen.sass */
#welcome p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f8f8f8;
  text-shadow: #1d2e2e 0 1px 1px;
  text-align: justify;
}
/* line 400, ../src/screen.sass */
#welcome span.edit-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
/* line 406, ../src/screen.sass */
#welcome div.photos {
  height: 214px;
  clear: both;
}
/* line 409, ../src/screen.sass */
#welcome div.photos img {
  width: 260px;
  border: 0;
  height: 170px;
  margin-left: 40px;
  padding-bottom: 44px;
  background: url(../images/photo_shadow.png) no-repeat bottom center;
  float: left;
}
/* line 417, ../src/screen.sass */
#welcome div.photos img:first-child {
  margin-left: 0;
}

/* line 421, ../src/screen.sass */
body.home #content div.post, body.archive #content div.post, body.category #content div.post {
  line-height: 21px;
  color: #333333;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}
/* line 425, ../src/screen.sass */
body.home #content div.post p, body.archive #content div.post p, body.category #content div.post p {
  margin-bottom: 5px;
}
/* line 427, ../src/screen.sass */
body.home #content div.post div.meta, body.archive #content div.post div.meta, body.category #content div.post div.meta {
  font-size: 12px;
  color: #888888;
}
/* line 430, ../src/screen.sass */
body.home #content div.post div.meta a, body.archive #content div.post div.meta a, body.category #content div.post div.meta a {
  color: #607f80;
  text-decoration: none;
}
/* line 433, ../src/screen.sass */
body.home #content div.post div.meta a:hover, body.archive #content div.post div.meta a:hover, body.category #content div.post div.meta a:hover {
  color: #245859;
}

/* line 443, ../src/screen.sass */
body.category #content h2, body.archive #content h2, body.home #content h2 {
  clear: both;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  margin: 24px 0 4px;
}
/* line 450, ../src/screen.sass */
body.category #content h2 a, body.archive #content h2 a, body.home #content h2 a {
  color: #333333;
  text-decoration: none;
}
/* line 453, ../src/screen.sass */
body.category #content h2 a:hover, body.archive #content h2 a:hover, body.home #content h2 a:hover {
  text-decoration: underline;
}
/* line 456, ../src/screen.sass */
body.category #content div.date, body.archive #content div.date, body.home #content div.date {
  color: #777777;
  font-size: 12px;
}

/* line 466, ../src/screen.sass */
#primary.widget-area li.widget-container {
  margin-bottom: 40px;
}
/* line 469, ../src/screen.sass */
#primary.widget-area h3 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
/* line 475, ../src/screen.sass */
#primary.widget-area .widget_random_image h3 {
  display: none;
}
/* line 477, ../src/screen.sass */
#primary.widget-area .widget_random_image img {
  display: block;
  margin: 0px auto;
  padding: 0 5px 26px;
  max-width: 180px;
  background: url(../images/photo_shadow_180.png) no-repeat bottom center;
}
/* line 485, ../src/screen.sass */
#primary.widget-area a {
  color: #3f5454;
}
/* line 487, ../src/screen.sass */
#primary.widget-area a:hover {
  color: #1e2829;
}
/* line 490, ../src/screen.sass */
#primary.widget-area li.widget_his_own_words_archives {
  display: none;
}
/* line 492, ../src/screen.sass */
#primary.widget-area li.widget_his_own_words_archives ul li {
  text-align: center;
  margin: 5px 0;
}

/* line 497, ../src/screen.sass */
body.his-own-words #primary.widget-area li.widget_his_own_words_archives, body.page-id-5 #primary.widget-area li.widget_his_own_words_archives, body.page-id-7 #primary.widget-area li.widget_his_own_words_archives {
  display: block;
}
